.h-wrapper {
  background-color: var(--black);
  color: white;
}

.h-container {
  justify-content: space-between;
  color: var(--secondary);
}

.h-menu {
  gap: 2rem;

}

.h-menu>li {
  list-style: none;
}

.h-menu:hover {
  cursor: pointer;
}